/* Defining spritesheet variables (for positioning and easier access) */
:root {
	--xmas-front: url(../img/crates/Crate_Template.gif) 0 0;
	--xmas-back: url(../img/crates/Crate_Template.gif) 0 -64px;
	--xmas-right: url(../img/crates/Crate_Template.gif) 0 -128px;
	--xmas-left: url(../img/crates/Crate_Template.gif) 0 -192px;
	--xmas-top: url(../img/crates/Crate_Template.gif) 0 -256px;
	--xmas-bottom: url(../img/crates/Crate_Template.gif) 0 -320px;
}

body {
	background: #000;
}

.crate-container {
    display: flex;
}

.container {
	width: 200px;
	height: 200px;
	perspective: 800px;
	margin: 15% auto;
    perspective: 1600px;
    perspective-origin: 50% -240px;
}
.cube {
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
    animation: spin 5s linear infinite;
    animation-play-state: paused;

}
.cube:hover {
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	animation: spin 5s linear infinite;
    animation-play-state: running; /* Runs only when hovered over the crate */
}

.face {
	position: absolute;
	width: 200px;
	height: 200px;
	background-size: cover;
	border: 2px solid #04dabe;
    background-image: url(../img/profile_pictures/defaultprofile.svg);
	border-radius: 10px;
}
.face.front {
	transform: translateZ(100px);
}
.face.back {
	transform: rotateY(180deg) translateZ(100px);
}
.face.right {
	transform: rotateY(90deg) translateZ(100px);
}
.face.left {
	transform: rotateY(-90deg) translateZ(100px);
}
.face.top {
	transform: rotateX(90deg) translateZ(100px);
}
.face.bottom {
	transform: rotateX(-90deg) translateZ(100px);
}
@keyframes spin {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotateY(360deg);
    }
  }


/* Texturing for xmas crate sides using a single spritesheet for all sides ;) Made by Denys & Henrik */
#xmas-front {
	background: no-repeat var(--xmas-front);
	background-size: 100%;
}
#xmas-back {
	background: no-repeat var(--xmas-back);
	background-position: 0 -200px;
	background-size: 100%;
}
#xmas-right {
	background: no-repeat var(--xmas-right);
	background-position: 0 -400px;
	background-size: 100%;
}
#xmas-left {
	background: no-repeat var(--xmas-left);
	background-position: 0 -600px;
	background-size: 100%;
}
#xmas-top {
	background: no-repeat var(--xmas-top);
	background-position: 0 -800px;
	background-size: 100%;
}
#xmas-bottom {
	background: no-repeat var(--xmas-top);
	background-position: 0 -1000px;
	background-size: 100%;
}