.gamemode-selection-menu-container {
    width: calc(100% - 300px);
    height: 70vh;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #9e9e9e4b;
    border: #ffae00 3px solid;
    backdrop-filter: blur(5px);
    box-shadow: #FFAE00 0px 0px 3em;
    display: flex;
    align-items: center;
}

.gamemode-selection-header-container {
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
}

.gamemode-selection-header {
    height: 50px;
    width: 200px;
    position: relative;
    bottom: 25px;
    background-color: #9e9e9e;
    border: #ffae00 3px solid;
    box-shadow: #FFAE00 0px 0px 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Silkscreen", sans-serif;
}

.gamemode-selection-close-container {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    height: 30px;
}

.gamemode-selection-close-container button {
    width: 100px;
    height: 30px;
    position: relative;
    top: 15px;
    background-color: #9e9e9e;
    border: #ffae00 3px solid;
    box-shadow: #FFAE00 0px 0px 3em;
    font-family: "Silkscreen", sans-serif;
    cursor: pointer;
}

.gamemode-selection-close-container button:hover {
    background-color: #ffae00;
    color: white;
}

.flickity-container {
    width: 100%;
    height: 330px;
    max-height: calc(100% - 50px);
}

* { box-sizing: border-box; }

body { font-family: sans-serif; }

.main-carousel {
  background-color: transparent;
  height: 100%;
}

.carousel-cell {
  width: 40%;
  margin-top: 30px;
  min-height: 270px;
  margin-right: 10px;
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  counter-increment: carousel-cell;
  filter: blur(5px);
  color: white;
}

.is-selected {
    filter: blur(0px);
    border: #ffae00 3px solid;
    box-shadow: #FFAE00 0px 0px 1em;
}

.cell-header {
    width: calc(100% - 30px);
    margin-left: 15px;
    margin-top: 15px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px white;
    border-radius: 10px;
    font-family: "Silkscreen", sans-serif;
    box-shadow: white 0px 0px 0.5em;
    background-color: transparent;
    font-style: italic;
    font-size: 28px;
    font-weight: 600;
}

.carousel-pixelart-container {
    width: calc(100% - 30px);
    margin-left: 15px;
    margin-top: 15px;
    height: 170px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 998;
    image-rendering: pixelated;
}

.carousel-select-button-container-container {
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
    z-index: 998;
    display: flex;
    justify-content: center;
}

.carousel-select-button-container {
    height: 60px;
    width: 200px;
    background-color: rgb(0, 0, 0);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-select-button-container button{
    width: 170px;
    height: 40px;
    border: #ffae00 3px solid;
    box-shadow: #FFAE00 0px 0px 1em;
    background-color: black;
    color: white;
    text-align: center;
    font-family: "Silkscreen", sans-serif;
    cursor: pointer;
    border-radius: 15px;
}

.carousel-select-button-container button:hover {
    background-color: #FFAE00;
}



/* cell number */
