/* Stylesheet for admin center dashboard */

header {
    width: 100%;
    height: 75px;
    position: fixed;
    top: 0;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    align-items: center;
    z-index: 997;
}

header h1 {
    position: absolute;
    left: 0;
    font-family: "Afacad Flux", sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-left: 20px;
}

.header-button-container {
    position: absolute;
    right: 0;
    height: 75px;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.header-button-container button {
    cursor: pointer;
    font-family: "Afacad Flux", sans-serif;
    font-size: 15px;
    font-weight: 600;
    height: 30px;
    width: 130px;
    margin-left: 10px;
}

.content {
    width: calc(100% - 50px);
    margin-top: 90px;
    margin-left: 25px;
    margin-right: 25px;
    height: calc(100vh - 100px);
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.scroll-container {
    width: fit-content;
    height: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: right;
}

.user-search-container {
    padding: 15px;
    width: 400px;
    min-width: 400px;
    height: calc(100vh - 160px);
    border-radius: 15px;
    background-color: white;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    display: inline-block;
}

.user-search-results {
    background-color: #D9D9D9;
    width: calc(100% - 20px);
    height: calc(100% - 118px);
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: "Afacad Flux", sans-serif;
}

#user-search-input {
    width: calc(100% - 6px);
    border-radius: 5px;
    height: 25px;
    border: 1px solid black;
    text-indent: 10px;
    font-family: "Afacad Flux", sans-serif;
    font-size: 18px;
}

.user-search-headline {
    margin: 0;
    padding: 0;
    font-family: "Afacad Flux", sans-serif;
    font-size: 30px;
    margin-bottom: 15px;
}

.search-result-container {
    width: calc(100% - 20px);
    height: 60px;
    margin-bottom: 15px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    position: relative;
    align-items: center;
}

.search-result-profilepic {
    height: 60px;
    width: 60px;
    background-position: center;
    background-size: 90% 90%;
    background-repeat: no-repeat;
    position: relative;
}

.search-result-profilepic img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.search-result-name-container {
    width: calc(100% - 130px);
    height: 60px;
    margin-left: 5px;
    font-family: "Afacad Flux", sans-serif;
    position: relative;
    overflow-x: hidden;
}

.search-result-name-container h1{
    font-size: 23px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    text-wrap: nowrap;
}

.search-result-name-container p{
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    font-size: 17px;
    text-wrap: nowrap;
    font-style: italic;
}

.user-search-button {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0;
    margin-right: 15px;
    cursor: pointer;
    background-image: url(../img/icons/settings.svg);
    background-size: 80% 80%;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 5px;
    background-color: #d1d1d1;
    opacity: 0.5;
}

.user-search-button:hover {
    opacity: 1;
}

#message-container {
    font-family: "Afacad Flux", sans-serif;
    font-weight: 600;
    width: 80%;
    height: 25px;
    font-size: 18px;
    margin-top: 5px;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    color: white;
    text-align: center;
    z-index: 999;
}
.visits-container {
    width: 400px;
    min-width: 400px;
    height: calc(100vh - 160px);
    padding: 15px;
    border-radius: 15px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    position: relative;
    display: inline-block;
}

.visits-container h1 {
    font-family: "Afacad Flux", "sans-serif";
    padding: 0;
    margin: 0;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 15px;
}

.visits-table-container {
    width: 100%;
    height: calc(100% - 120px);
    margin-top: 15px;
    border-radius: 5px;
    overflow-x: hidden;
    overflow-y: scroll;
    border: solid 1px black;
}

.visits-container table {
    width: 100%;
    font-family: "Afacad Flux", "sans-serif";
}

table, th, td, tr{
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
}

td, tr{
    height: 40px;
}

td {
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
}

.no-records {
    margin: 0;
    padding: 0;
    margin: 5px;
    font-family: "Afacad Flux", "sans-serif";
}

#dashboard-player-online {
    font-family: "Afacad Flux", "sans-serif";
    position: relative;
    bottom: 10px;
}

.dashboard-chat-list {
    width: 800px;
    min-width: 800px;
    height: calc(100vh - 160px);
    padding: 15px;
    border-radius: 15px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    position: relative;
    display: inline-block;
}

.dashboard-chat-list-h1 {
    font-family: "Afacad Flux", "sans-serif";
    font-size: 30px;
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
}

.dashboard-chat-table-container {
    width: calc(100% - 20px);
    background-color: #D9D9D9;
    padding: 10px;
    border-radius: 5px;
    height: calc(100% - 120px);
    margin-top: 15px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.dashboard-chat-table-container table {
    font-family: "Afacad Flux", "sans-serif";
    width: 100%;
}

.chat-table-headline {
    background-color: #A1A1A1;
    font-weight: 600;
}

.chat-list-two-user-container {
    width: 360px;
    height: 100%;
    display: flex;
}

.chat-list-two-user-td {
    width: 360px;
}

.chat-list-user-container {
    width: 180px;
    min-width: 180px;
    height: 100%;
    display: flex;
    align-items: center;
}

.chat-list-profilepic {
    height: 35px;
    width: 35px;
    margin-left: 5px;
    background-position: center;
    background-size: 90% 90%;
    background-repeat: no-repeat;
    position: relative;
}

.chat-list-profilepic img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.chat-list-username {
    margin-left: 5px;
    width: 130px;
    max-width: 130px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
}

.chat-list-groupchat-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-list-groupchat-image {
    height: 35px;
    width: 35px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 35px;
}

.chat-list-groupchat-name {
    margin-left: 5px;
    width: fit-content;
    max-width: 130px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
}

.error-reports-container {
    width: 800px;
    min-width: 800px;
    height: calc(100vh - 160px);
    padding: 15px;
    border-radius: 15px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    position: relative;
    display: inline-block;
}

.error-reports-container-h1 {
    font-family: "Afacad Flux", "sans-serif";
    font-size: 30px;
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
}

.error-reports-table-container {
    width: calc(100% - 20px);
    background-color: #D9D9D9;
    padding: 10px;
    border-radius: 5px;
    height: calc(100% - 120px);
    margin-top: 15px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.error-reports-table-container table {
    font-family: "Afacad Flux", "sans-serif";
    width: 100%;
}

.error-details-container {
    max-width: 100%;
    text-wrap: wrap;
}