/* Stylesheet for server settings */

.server-stats-container {
    padding: 15px;
    height: fit-content;
    width: 400px;
    border-radius: 15px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-left: 15px;
    font-family: "Afacad Flux", "sans-serif";
}

.server-stats-container h1{
    padding: 0;
    margin: 0;
}

.stats-container {
    margin-top: 15px;
    width: 100%;
    height: fit-content;
    padding-bottom: 10px;
    background-color: rgb(221, 221, 221);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
}

.stats-container p {
    font-size: 17px;
    opacity: 0.7;
    margin: 10px;
}

.chart-container {
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-right: 10px;
    height: fit-content;
    border-radius: 5px;
    background-color: white;
    position: relative;
}

canvas {
    width: 380px;
}

header {
    width: 100%;
    height: 75px;
    position: fixed;
    top: 0;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    align-items: center;
    z-index: 997;
}

header h1 {
    position: absolute;
    left: 0;
    font-family: "Afacad Flux", sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-left: 20px;

}

.server-settings-header-button-container {
    position: absolute;
    right: 0;
    height: 75px;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.server-settings-header-button-container button {
    cursor: pointer;
    font-family: "Afacad Flux", sans-serif;
    font-size: 15px;
    font-weight: 600;
    height: 30px;
    width: 130px;
    margin-left: 10px;
}

.content {
    width: 100%;
    height: calc(100vh - 75px);
    position: absolute;
    bottom: 0;
    overflow-y: hidden;
    overflow-x: scroll;
    display: flex;
    align-items: center;
}