/*Stylesheet for modal for banning user*/

.ban-container {
    width: 500px;
    height: fit-content;
    padding: 15px;
    background-color: white;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: "Afacad Flux", "sans-serif";
}

.ban-container h1 {
    font-family: "Afacad Flux", "sans-serif";
    font-weight: 600;
}

#hide-show-ban {
    display: none;
}

.ban-container textarea {
    width: 400px;
    height: 200px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: solid 1px black;
    padding: 5px;
    resize: none;
}

.ban-button {
    font-family: "Afacad Flux", "sans-serif";
    cursor: pointer;
    width: 100px;
    height: 30px;
    border: solid 2px red;
    color: red;
    background-color: white;
    border-radius: 5px;
}

.ban-button:hover {
    background-color: red;
    color: white;
}

.ban-cancel {
    font-family: "Afacad Flux", "sans-serif";
    margin-top: 10px;
    cursor: pointer;
}