/* Stylesheet for modal that pops up when you click forgot username or password */

.forgot-link-container {
    width: 455px;
    height: fit-content;
    padding: 30px;
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(216, 182, 182, 0.24) 0px 3px 8px;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.forgot-link-container h1 {
    padding: 0;
    margin: 0;
    font-family: "Afacad Flux", "sans-serifs";
    text-wrap: nowrap;
}

.forgot-link-container p{
    font-family: "Afacad Flux", "sans-serifs";
    font-weight: 400;
    font-size: 25px;
    padding: 0;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 15px;
}

.forgot-link-container input {
    width: 100%;
    height: 30px;
    font-family: "Afacad Flux", "sans-serifs";
    border: 1px solid black;
    border-radius: 5px;
    text-indent: 5px;
    font-size: 20px;
}

.forgot-link-button-container {
    margin-top: 15px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    gap: 15px;
    position: relative;
}

.forgot-link-next-button {
    width: 160px;
    height: 50px;
    border: #4A88FF solid 3px;
    color: #4A88FF;
    background-color: white;
    font-family: "Afacad Flux", sans-serif;
    font-weight: 600;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

.forgot-link-next-button:hover {
    background-color: #4A88FF;
    color: white;
}

.forgot-link-cancel-button {
    width: 160px;
    height: 50px;
    background-color: white;
    font-family: "Afacad Flux", sans-serif;
    font-weight: 600;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    border: #A1A1A1 solid 3px;
    color: #A1A1A1;
}

.forgot-link-cancel-button:hover {
    background-color: #A1A1A1;
    color: white;
}

#type-in-code {
    text-align: center;
}