/*Stylesheet for the main hub*/

#hub-body {
    background-color: #FFCF8C;
    font-family: "Afacad Flux", sans-serif;
    overflow: hidden;
}

.hub-corner-profile-container {
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px;
}

.hub-corner-profilepic-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 65px;
    height: 65px;
    padding: 10px;
    background-color: white;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    justify-content: center;
}

.hub-corner-profilepic {
    position: relative;
    top: 0;
    left: 0;
    width: 65px;
    height: 65px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 92% 92%;
}

.hub-corner-profilepic-border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hub-corner-profilepic-container a:hover {
    filter: brightness(0.5);
}

.hub-corner-profile-dropdown {
    position: relative;
    top: 15px;
    width: 65px;
    height: fit-content;
    padding-bottom: 15px;
    padding: 10px;
    background-color: white;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.hub-corner-profile-dropdown-button {
    width: 65px;
    height: 65px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    opacity: 0.5;
    border: none;
    background-color: transparent;
}

.hub-corner-profile-dropdown-button:hover {
    opacity: 1;
}

#dropdown-button-settings {
    background-image: url(./img/icons/settings.svg);
}

#dropdown-button-friends {
    background-image: url(./img/icons/groups.svg);
    position: relative;
}

#dropdown-button-chats {
    background-image: url(./img/icons/message.svg);
    position: relative;
}

#dropdown-button-q_and_a {
    background-image: url(./img/icons/question.svg);
}

#dropdown-button-leaderboard {
    background-image: url(./img/icons/leaderboard.svg);
}

.hub-notif-bubble {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: red;
    color: white;
    font-family: "Afacad Flux", "sans-serif";
}

.hub-corner-profile-dropdown-divider {
    width: 65px;
    height: 1px;
    border-radius: 1px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 15px;
    margin-bottom: 15px;
}


/* UI på midten av skjermen, inkl. play knapp, logo og patch notes */

.main-menu-middle-ui-container {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-left: 150px;
}

.main-menu-middle-ui {
    background-color: white;
    border-radius: 20px;
    /* Shadow imported from cssscan */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    width: 600px;
    height: 500px;
}


.patch-notes-box {
    background-color: white;
    margin-left: 15px;
    width: 300px;
    height: 500px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* Shadow imported from cssscan */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.patch-notes-content-grey {
    background-color: #D9D9D9;
    margin: 10%;
    margin-top: 0%;
    border-radius: 4%;
    height: 90%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.patch-notes-title {
    margin-left: 29%;
    font-size: 160%;
}

.patch-note {
    margin-left: 5%;
}

.title-text {
    font-size: 500%;
    margin: 0;
    font-family: "Afacad Flux", sans-serif;
}

.play-button {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    font-size: 35px;
    width: 100%;
    background-color: #35b03e;
    border-color: #25742a;
    border: #06740d solid 3px;
    color: #ffffff;
    font-family: "Afacad Flux", sans-serif;
    font-weight: 600;
    border-radius: 10px;
    font-size: 35px;
    cursor: pointer;
    /* Shadow imported from cssscan */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.link {
    text-decoration: none;
    color:#ffffff
}

.menu-button {
    width: 180px;
    height: 60px;
    border: #717171 solid 3px;
    color: #ffffff;
    background-color: #2e87ad;
    font-family: "Afacad Flux", sans-serif;
    font-weight: 600;
    border-radius: 10px;
    font-size: 30px;
    cursor: pointer;
    /* Shadow imported from cssscan */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.menu-button:hover {
    background-color: #246a88;
    color: white;
}

.play-button:hover {
    background-color: #2e9435;
    color: white;
}

.hub-spa-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 997;
    background-color: #FFCF8C;
    display: none;
}

.slide-text {
    width: 100%;
    height: 200px;
    border: solid white 10px;
    background-color: #FFCF8C;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    display: flex;
    align-items: center;
    rotate: -45deg;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 400px;
    bottom: 200px;
}

.slide-text-h1 {
    font-family: "Afacad Flux", "sans-serif";
    font-weight: 600;
    font-size: 100px;
    color: white;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
}

.slide-text-h1 span {
    display: inline-block;
    animation: slide-text-h1 60s linear infinite;
}

@keyframes slide-text-h1 {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-100%, 0, 0);
    }
}