/*Stylesheet for the login page*/

.login-container{
    width: 550px;
    height: 600px;
    background-color: white;
    border-radius: 42px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.login-logo-container{
    width: 100%;
    height: 170px;
    display: flex;
    justify-content: center;
}

.login-logo-container img{
    margin-top: 50px;
    width: 300px;
}

.login-form-container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.login-form-inner{
    width: 338px;
    margin: auto;
    text-align: center;
    display: inline-block;
}

.login-form-inner h1{
    font-family: "Afacad Flux", sans-serif;
    font-weight: 600;
    font-size: 45px;
}

.login-cred-input{
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    border: solid 1px black;
    background-color: white;
    border-radius: 5px;
    font-family: "Afacad Flux", sans-serif;
    font-weight: 200;
    font-size: 25px;
    text-indent: 5px;
}

.login-register-link{
    font-family: "Afacad Flux", sans-serif;
    font-weight: 600;
    margin: 0;
    margin-bottom: 15px;
}

.login-register-link a{
    color: #4A88FF;
}

.login-button{
    width: 160px;
    height: 50px;
    border: #4A88FF solid 3px;
    color: #4A88FF;
    background-color: white;
    font-family: "Afacad Flux", sans-serif;
    font-weight: 600;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

.login-button:hover{
    background-color: #4A88FF;
    color: white;
}

.login-forgot-link{
    margin-bottom: 10px;
    font-family: "Afacad Flux", sans-serif;
    font-weight: 600;
    font-size: 13px;
    color: #4A88FF;
    position: absolute;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.login-admin-link{
    position: fixed;
    top: 0;
    right: 0;
    margin: 15px;
    color: black;
    font-family: "Afacad Flux", sans-serif;
    font-weight: 400;
    text-decoration: none;
}

.login-admin-link:hover{
    text-decoration: underline;
}

.password-input-wrapper {
    width: 100%;
    height: 40px;
    border: solid 1px black;
    border-radius: 5px;
    background-color: white;
    position: relative;
    margin-top: 10px;
    margin-bottom: 15px;
}

.password-input-wrapper input {
    height: calc(100% - 3px);
    width: calc(100% - 47px);
    margin-right: 5px;
    position: absolute;
    left: 0;
    border: none;
    padding-right: 45px;
    border-radius: 5px;
    font-family: "Afacad Flux", "sans-serif";
    font-weight: 200;
    font-size: 25px;
    text-indent: 5px;
}

.password-input-wrapper button {
    width: 40px;
    height: 40px;
    background-color: transparent;
    position: absolute;
    right: 0;
    border: none;
    cursor: pointer;
    border-left: 1px solid #a1a1a1;
    background-image: url(./img/icons/eye-password-hide.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
}

.login-info-button {
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    margin: 15px;
    background-image: url(./img/icons/info_blue.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
}