/*Stylesheet for the login page*/

.login-container{
    width: 550px;
    height: 600px;
    background-color: white;
    border-radius: 42px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.login-logo-container{
    width: 100%;
    height: 170px;
    display: flex;
    flex-direction: column;
    background-image: url(../img/Noc_Skir_Logo.svg);
}

.login-form-container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.login-form{
    width: fit-content;
    margin: auto;
    text-align: center;
}

.login-form h1{
    font-family: "Afacad Flux", sans-serif;
    font-weight: 600;
    font-size: 45px;
}

.login-cred-input{
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    border: solid 1px black;
    background-color: white;
    border-radius: 5px;
    font-family: "Afacad Flux", sans-serif;
    font-weight: 200;
    font-size: 25px;
    text-indent: 5px;
}

.login-register-link{
    font-family: "Afacad Flux", sans-serif;
    font-weight: 600;
}

.login-register-link a{
    color: #4A88FF;
}

.login-button{
    width: 160px;
    height: 50px;
    border: #4A88FF solid 3px;
    color: #4A88FF;
    background-color: white;
    font-family: "Afacad Flux", sans-serif;
    font-weight: 600;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

.login-button:hover{
    background-color: #4A88FF;
    color: white;
}

.login-forgot-link{
    margin-bottom: 10px;
    font-family: "Afacad Flux", sans-serif;
    font-weight: 600;
    font-size: 13px;
    color: #4A88FF;
}

.login-admin-link{
    position: fixed;
    top: 0;
    right: 0;
    margin: 15px;
    color: black;
    font-family: "Afacad Flux", sans-serif;
    font-weight: 400;
    text-decoration: none;
}

.login-admin-link:hover{
    text-decoration: underline;
}

.login-error-container{
    width: 100%;
    height: 40px;
    background-color: #f96161;
    border: solid black 1px;
    margin-bottom: 15px;
    font-family: "Afacad Flux", sans-serif;
    font-weight: 600;
    color: white;
    font-size: 25px;
    border-radius: 5px;
    display: none;
}

.login-dark-container{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.50);
    position: fixed;
    z-index: 998;
    display: none;
}

.login-recovery-container{
    width: 550px;
    height: fit-content;
    padding-bottom: 50px;
    background-color: white;
    border-radius: 42px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 999;
}

.login-recovery-form-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.login-recovery-form{
    width: 440px;
}

.login-recovery-form h1{
    font-family: "Afacad Flux", sans-serif;
    font-weight: 600;
    font-size: 30px;
}

.login-recovery-form p{
    font-family: "Afacad Flux", sans-serif;
    font-weight: 400;
    font-size: 30px;
    text-wrap: wrap;
}

#login-recovery-cancel{
    border: #808080 solid 3px;
    color: #808080;
}

#login-recovery-cancel:hover{
    background-color: #808080;
    color: white;
}

.login-recovery-button-container{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.login-recovery-email-sent-form-container{
    display: none;
    margin-top: 20px;
    width: 100%;
    justify-content: center;
}

.login-recovery-email-sent-form{
    width: 440px;
    align-items: center;
    text-align: center;
}

.login-recovery-email-sent-form h1{
    font-family: "Afacad Flux", sans-serif;
    font-weight: 600;
    font-size: 30px;
}

.login-recovery-final-form-container{
    display: none;
    margin-top: 20px;
    width: 100%;
    justify-content: center;
}

.login-recovery-final-form{
    width: 440px;
    align-items: center;
    text-align: center;
}

.login-recovery-final-form h1{
    font-family: "Afacad Flux", sans-serif;
    font-weight: 600;
    font-size: 30px;
}

.login-recovery-final-form p{
    font-family: "Afacad Flux", sans-serif;
    font-weight: 400;
    font-size: 30px;
    text-wrap: wrap;
}

.login-new-password-container{
    display: none;
}

.login-new-password-saved{
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.login-new-password-saved h1{
    font-family: "Afacad Flux", sans-serif;
    font-weight: 400;
    font-size: 30px;
    text-wrap: wrap;
}

#login-new-password-error{
    color: red;
    display: none;
}