/*Stylesheet for user settings page*/

#settings-body {
    background-color: #FFCF8C;
}

.settings-container {
    width: calc(100% - 100px);
    height: calc(100vh - 100px);
    background-color: white;
    border-radius: 28px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.settings-sidebar {
    position: absolute;
    left: 0;
    top: 0;
    height: calc(100% - 15px);
    background-color: rgb(255, 255, 255);
    width: 185px;
    padding-top: 15px;
    padding-left: 15px;
    border-top-left-radius: 28px;
    border-bottom-left-radius: 28px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.settings-sidebar-button-logout {
    width: 100px;
    height: 40px;
    border: #D64A4A solid 3px;
    color: #D64A4A;
    background-color: white;
    font-family: "Afacad Flux", sans-serif;
    font-weight: 600;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 25px;
    margin-bottom: 25px;
}

.settings-sidebar-button-logout:hover{
    background-color: #D64A4A;
    color: white;
}

.settings-backtohub {
    width: 140px;
    height: 50px;
    border-radius: 10px;
    background-color: #D9D9D9;
    position: absolute;
    right: 0;
    top: 0;
    margin: 15px;
    font-family: "Afacad Flux", sans-serif;
    font-weight: 600;
    font-size: 24px;
    border: none;
    cursor: pointer;
}

.settings-backtohub:hover {
    background-color: #868686;
}

.settings-sidebar-headline {
    font-family: "Afacad Flux", sans-serif;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
    font-size: 20px;
    margin: 0;
    margin-left: 5px;
}

.settings-sidebar-button {
    background-color: transparent;
    width: calc(100% - 15px);
    height: 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Afacad Flux", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 20px;
    text-align: left;
    margin-bottom: 5px;
}

.settings-sidebar-button:hover {
    background-color: #ffcf8ca4;
}

.settings-spa-container {
    width: calc(100% - 220px);
    height: 100%;
    float: right;
}

.settings-headline {
    font-family: "Afacad Flux", sans-serif;
    font-weight: 400;
    font-size: 32px;
}

.settings-confirmation-popup {
    position: absolute;
    top: 0;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    height: 25px;
    margin-top: 10px;
    font-weight: 600;
    font-family: "Afacad Flux", sans-serif;
    color: white;
    text-align: center;
    display: none;
}

.settings-dark-container {
    display: none;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}