/*Stylesheet for user settings page*/

#settings-body {
    background-color: #FFCF8C;
}

.settings-container {
    width: calc(100% - 100px);
    height: calc(100vh - 100px);
    background-color: white;
    border-radius: 28px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.settings-sidebar {
    position: absolute;
    left: 0;
    top: 0;
    height: calc(100% - 15px);
    background-color: rgb(255, 255, 255);
    width: 185px;
    padding-top: 15px;
    padding-left: 15px;
    border-top-left-radius: 28px;
    border-bottom-left-radius: 28px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.settings-backtohub {
    width: 140px;
    height: 50px;
    border-radius: 10px;
    background-color: #D9D9D9;
    position: absolute;
    right: 0;
    top: 0;
    margin: 15px;
    font-family: "Afacad Flux", sans-serif;
    font-weight: 600;
    font-size: 24px;
    border: none;
    cursor: pointer;
}

.settings-backtohub:hover {
    background-color: #868686;
}

.settings-sidebar-headline {
    font-family: "Afacad Flux", sans-serif;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
    font-size: 20px;
    margin: 0;
    margin-left: 5px;
}

.settings-sidebar-button {
    background-color: transparent;
    width: calc(100% - 15px);
    height: 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Afacad Flux", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 20px;
    text-align: left;
}

.settings-sidebar-button:hover {
    background-color: #ffcf8ca4;
}

.settings-myaccount-container {
    width: calc(100% - 220px);
    height: 100%;
    float: right;
}

.settings-headline {
    font-family: "Afacad Flux", sans-serif;
    font-weight: 400;
    font-size: 32px;
}

.settings-myaccount-inner {
    padding: 15px;
    width: calc(100% - 285px);
    height: calc(100vh - 230px);
    background-color: #D9D9D9;
    border-radius: 12px;
    position: relative;
}

.settings-myaccount-profile-container {
    width: 100%;
    height: 130px;
    display: flex;
    margin-bottom: 15px;
    margin-top: 100px;
    position: absolute;
}

.settings-myaccount-profile-pic-parent {
    width: 130px;
    height: 130px;
    background-position: center;
    background-size: 84% 84%;
    background-repeat: no-repeat;
}

.settings-myaccount-border {
    width: 100%;
    height: 100%;
}

.settings-myaccount-name-container {
    height: 100px;
    padding-left: 20px;
}

.settings-myaccount-banner {
    position: absolute;
    top: 0;
    left: 0;
    margin: 15px;
    width: calc(100% - 30px);
    height: 140px;
    background-image: url(./img/profile_banners/test.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}

.settings-myaccount-name-container h1{
    font-family: "Afacad Flux", sans-serif;
    font-weight: 600;
    font-size: 50px;
    margin: 0;
    margin-top: 35px;
}

.settings-myaccount-name-container p{
    font-family: "Afacad Flux", sans-serif;
    font-weight: 400;
    font-size: 25px;
    font-style: italic;
    color: rgba(0, 0, 0, 0.5);
    margin: 0;
}

.settings-myaccount-profile-headline{
    font-family: "Afacad Flux", sans-serif;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
    font-size: 25px;
    margin: 0;
}

.settings-myaccount-profile-pushdown {
    height: 245px;
}

.settings-myaccount-profile-pic-background {
    width: 130px;
    height: 130px;
    padding-top: 10px;
    padding-right: 10px;
    background-color: #D9D9D9;
    border-top-right-radius: 5px;
}

.settings-myaccount-description {
    width: 100%;
    border: none;
    height: 150px;
    resize: none;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-top: 5px;
    text-indent: 10px;
    font-family: "Afacad Flux", sans-serif;
    font-weight: 400;
    font-size: 22px;
}

.settings-myaccount-save-button {
    width: 140px;
    height: 50px;
    border-radius: 10px;
    background-color: #58D245;
    color: white;
    font-family: "Afacad Flux", sans-serif;
    font-weight: 600;
    font-size: 24px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
}

.settings-myaccount-save-button:hover {
    background-color: #2c6423;
}